<mat-toolbar>
  <mat-toolbar-row>
    <a (click)="reload()" id="title">Waiterless</a>
    <span class="span-space"></span>
    <div *ngIf="loggedIn === null">
      <button mat-button (click)="openReg()">Зареєструватись</button>
      <button mat-button (click)="openLogin()">Увійти</button>
    </div>
    <div *ngIf="loggedIn != null && user">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [ngSwitch]="user.role">
        <p>{{user.name}}</p>
        <div *ngSwitchCase="'ROLE_USER'">
          <button mat-menu-item>Мій профіль</button>
          <button mat-menu-item>Замовлення</button>
          <button mat-menu-item>Статистика</button>
        </div>
        <div *ngSwitchCase="'ROLE_PLACE'">
          <button mat-menu-item>Профіль закладу</button>
          <button mat-menu-item>Замовлення</button>
          <button mat-menu-item>Статистика</button>
        </div>
        <div *ngSwitchCase="'ROLE_ADMIN'">
          <button mat-menu-item>Список користувачів</button>
        </div>
        <button mat-menu-item (click)="logout()">Вийти</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
