span {
  margin-left: -5px;
}

div {
  height: 100%;
  display: flex;
  align-items: center;
}

mat-card {
  display: block;
  margin: auto;
  text-align: center;
  width: 350px;
  height: 350px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0), 0 1px 1px 0 rgba(0,0,0,0), 0 1px 3px 0 rgba(0,0,0,0);
}

a{
  text-decoration: none;
  color: #3f51b5;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0;
}

.radio-button {
  margin: 2px 5px;
}
