<div id="stat">
  <div *ngIf="user?.role === roles[0].toString()">
    <span>Переглянути статистику конкретного закладу:</span>
    <mat-form-field>
      <mat-label>Назва закладу</mat-label>
      <mat-select name="place" [(ngModel)]="selected" [(value)]="selected" (selectionChange)="userFilteredStats()">
        <mat-option *ngFor="let place of places" value="{{place.id}}">{{place.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="userStats()">Очистити</button>
  </div>
  <div *ngIf="user?.role === roles[1].toString()">
    <span>Фільтрація:</span>
    <mat-form-field>
      <mat-label>Розділ меню</mat-label>
      <mat-select name="section" [(ngModel)]="section" [(value)]="section" (selectionChange)="placeFilteredStats()">
        <mat-option *ngFor="let s of place.menuSections | keyvalue" value="{{s.value}}">{{s.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Дата замовлення</mat-label>
      <label>
        <input matInput disabled [matDatepicker]="picker" (dateInput)="placeFilteredStats()" name="date"
               [(ngModel)]="date">
      </label>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <button mat-button (click)="placeStats()">Очистити</button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort matSortDirection="desc" matSortActive="quantity">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Назва</th>
      <td mat-cell *matCellDef="let element">{{element[0]}}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Кількість</th>
      <td mat-cell *matCellDef="let element">{{element[1]}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayed"></tr>
    <tr mat-row *matRowDef="let row; columns: displayed;"></tr>
  </table>
</div>
