mat-card {
  width: 65%;
  margin-top: 1%;
}

mat-card-title {
  font-family: 'Prata', serif;
}

mat-card-content {
  height: 300px;
  display: flex;
  align-items: center;
  font-size: x-large;
}

mat-card-content > div > input {
  display: none;
}

.mat-card .mat-divider-horizontal {
  width: 94%;
  margin: 0 3%;
}

form {
  font-size: medium;
  margin: 0 auto;
}

form > button {
  background-color: rgba(63, 81, 181, .4);
  margin: 0 1.25%;
}

mat-form-field {
  margin: 0 10px;
}

button {
  margin-top: 2%;
}

span {
  font-weight: 500;
}

p {
  display: inline;
}

span, p {
  border-bottom: 1px solid rgba(63, 81, 181, .4);
}

mat-icon {
  color: rgba(63, 81, 181, .7);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

div.container {
  display: flex;
  margin-bottom: 5%;
}

.mat-mini-fab {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
}

.w-70 {
  width: 70%;
}

.pic {
  width: 200px;
  height: 200px;
  background-color: rgba(63, 81, 181, .4);
  margin: 0 2.5%;
  border-radius: 50%;
  position: relative;
}

#attr {
  padding-right: 1%;
}

#info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

#info > p:last-of-type {
  font-size: initial;
}
