html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

mat-list > .mat-list-base .mat-list-item > .mat-list-item-content {
  justify-content: center;
}

.cdk-global-scrollblock {
  position: inherit;
}

.span-space {
  flex: 1 1 auto;
}

.container {
  padding-top: 1%;
  justify-content: center;
  position: relative;
  top: 64px;
}

.white-snackbar button {
  color: white;
}
